@{
    ViewBag.Title = "Index";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Mantenimiento de Estudiantes</title>
</head>
<body>
    <h1>Mantenimiento de estudiantes</h1>
    <div class="menu">
        <a href="/Alumno/ListaAlumnos" class="menu-item">Visualizar listado de estudiantes</a>
    </div>
</body>
</html>
