body {
    margin: 2%;
}
header, nav, footer{
    width: 100%;
    height: auto;
}
.menu{
    display: flex;
}
.menu-item{
    text-align: center;
    padding: 10px;
    display: block;
    font-size: 18px;
    color: slategray;
    text-decoration: none;
    background-color:cornsilk;
    border-radius: 10px;
}
.menu-item:hover{
    color: black;
}
