body {
}
header, nav, footer{
    width: 100%;
    height: auto;
}
.menu{
    display:grid;
    grid-template-rows: repeat(6,1fr);
    column-gap: 5px;
}
.menu-item{
    text-align: center;
    padding-top: 5px;
    padding-bottom: 5px;
    display: block;
    font-size: 18px;
}
.menu-item:hover{
    background-color: yellow;
    color: blue;
}
